.container{
  background-image: url("http://www.gsfdcy.com/data/img1/90/2200342-triangle-wallpaper.jpg");
  height: 100vh;
  background-size: cover;
  background-position: relative;
  text-align: center;
  color:aqua;
  font-size: 35px;
}
